@import '../../constants/scss/variables.scss';

#{$root} {
    .dropdown {
        &__container {
            border: 1px solid #d3d3d3;
            box-sizing: border-box;
            padding: 13px 10px 7px;
            position: relative;
            width: 100%;
        }

        &__label {
            color: #083451;
            font-family: "Trade Gothic Bold";
            font-size: 15px;
            font-weight: 700;
        }

        &__option {
            align-items: center;
            border: 1px solid #d3d3d3;
            border-bottom: none;
            box-sizing: border-box;
            color: $tab-row-bg;
            display: flex;
            font-size: 15px;
            font-family: 'Trade Gothic Bold';
            padding: 6px 12px;

            &:hover {
                background-color: $tab-row-bg;
                color: $white;
            }

            &:last-child {
                border-bottom: 1px solid #d3d3d3;
            }

            &.dropdown__option--selected {
                border: none;
                padding: 0;
                justify-content: space-between;

                &:hover {
                    background-color: transparent;
                    color: $tab-row-bg;
                }
            }
        }

        &__options {
            background-color: $white;
            border-radius: 4px;
            box-shadow:
                0px 1px 3px 0px rgba(0, 0, 0, 0.2),
                0px 1px 1px 0px rgba(0, 0, 0, 0.14),
                0px 2px 1px -1px rgba(0, 0, 0, 0.12);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
        }
    }
}