$root: '#imgor-root';

$header-text-color: #366e92;
$subheader-text-color: #1a374e;

$green-block-color: #0b273f;
$tab-header-color: #366e92;

$tab-row-bg: #0d2740;
$green-block-bg: #c0d721;
$tab-head-bg: #fff;
$tab-selected-bg: #366e92;
