$root: '#imgor-root';

$header-text-color: #2282a1;
$subheader-text-color: #083451;

$green-block-color: #0b273f;
$tab-header-color: #366e92;

$tab-row-bg: #083451;
$green-block-bg: #c0d721;
$tab-head-bg: #fff;
$tab-selected-bg: #366e92;
$date-block-bg:#f3f3f3;
$date-block-selected-bg: #4481a3;
$card-body-bg: #f3f3f3;

$white: #fff;
$gray: #ccc;

$question-icons-color: #fefbfb;
$question-icons-bg: #de3942;

$card-light-blue-color: #648fa0;
$card-dark-blue-color: #184a69;
$card-blue-color: #4481a3;
$card-red-color: #de3942;
$step-final-light-blue-colog: #2282a1;

$sold-out: #de3942;

$min-tab-row-height: 110px;
$tab-header-max-width: 185px;

$concentration-header: #083451;

$final-step-radio-btn-color: #083451;

// FONTS
$trade-gothic-bold: Trade Gothic Bold Cn\ 20;
$proxima-nova: Proxima Nova, Helvetica Neue, Helvetica, Arial, sans-serif;
$serifa-bold: Serifa Bold, Serifa, Proxima Nova, Helvetica Neue, Helvetica, Arial, sans-serif ;
$serifa-light: Serifa Light, Serifa, Proxima Nova, Helvetica Neue, Helvetica, Arial, sans-serif;
$serifa-roman: Serifa Roman, Serifa, Proxima Nova, Helvetica Neue, Helvetica, Arial, sans-serif;
//$trade-gothic: Trade Gothic, Proxima Nova, Helvetica Neue, Helvetica, Arial, sans-serif;
$trade-gothic: #{$trade-gothic-bold}, Proxima Nova, Helvetica Neue, Helvetica, Arial, sans-serif;

$header-font: Trade Gothic Bold Cn\ 20, Proxima Nova, Helvetica Neue, Helvetica, Arial, sans-serif;
$normal-font: Proxima Nova, Helvetica Neue, Helvetica, Arial, sans-serif;


// breakpoints
$small-mobile: 362px;
$mobile: 767px;
$tablet: 991px;
$retina: 1.5;  // standart retina > 1.5x
$retina-hd: 2.5; // hd retina > 2.5x

// breakpoints mixin
@mixin breakpoint($rule){
  @if ($rule == $retina or $rule == $retina-hd){
    @media only screen and ( min-resolution : #{$retina*96} ), ( -webkit-min-device-pixel-ratio : #{$retina} ){
      @content;
    }
  }
  @else{
    @media only screen and (max-width: #{$rule}){
      @content;
    }
  }
}
@mixin breakpoint_min($rule){
  @media only screen and (min-width: #{$rule}){
    @content;
  }
}
