@import '../../constants/scss/variables.scss';

#{$root} {
    .step-four {
        &__tabs {
            display: block;
            width: 100%;
        }

        &__secondary-program {
            &--available {
                color: #083451;
            }

            &--sold-out {
                color: #de3942;
                text-decoration: line-through;
            }
        }

        &__secondary-programs {
            border: 2px solid #4481a3;
            box-sizing: border-box;
            padding: 20px;
        }

        &__esl {
            &-secondary-program {
                align-items: center;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                flex-direction: row;
                padding: 20px;
            }

            &-image-container {
                margin: 15px;
                margin-left: -15px;
            }

            &-content-container {
                display: flex;
                flex-direction: column;
            }
        }

        &__performance {
            &-secondary-program {
                align-items: center;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                flex-direction: row;
                padding: 20px;

                &-header {
                    width: 100%;
                    margin-bottom: 5px;
                }

                &-secondary-column {
                    align-items: flex-start;
                    padding: 20px 5px;
                    flex-direction: column;
                    width: 100%;
                }
            }

            &-image-container {
                margin: 15px;
                margin-left: -15px;
            }

            &-content-container {
                display: flex;
                flex-direction: column;
            }

            &-list {
                width: 50%;

                &-container {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                }

                &-item {
                    box-sizing: border-box;
                    display: block;
                    font-family: "Trade-Gothic";
                    font-size: 12px;
                    width: 100%;

                    &::before {
                        content: '';
                        width: 2px;
                        height: 2px;
                        border: 1px solid;
                        border-radius: 50%;
                        margin-right: 5px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
        }

        &__sat {
            &-secondary-program {
                align-items: center;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                flex-direction: row;
                padding: 20px;
            }
            &-image-container {
                margin: 15px;
                margin-left: -15px;
            }
            &-content-container {
                display: flex;
                flex-direction: column;
            }
        }

        &__fifteen-hours {
            font-family: "Serifa-Bold";
            font-size: 19px;
            font-weight: 700;
            text-transform: uppercase;
        }

        &__education {
            font-family: "Serifa-Roman";
            font-size: 15px;
            font-weight: 400;
            text-transform: uppercase;
        }

        &__per-week {
            font-family: "Serifa-Bold";
            font-size: 17px;
            font-weight: 700;
            text-transform: uppercase;
        }

        &__one-hour {
            font-family: "Serifa-Bold";
            font-size: 23px;
            font-weight: 700;
            text-transform: uppercase;
        }

        &__training {
            font-family: "Serifa-Roman";
            font-size: 17px;
            font-weight: 400;
            text-transform: uppercase;
        }

        &__daily-sessions {
            font-family: "Trade-Gothic-Bold";
            font-size: 15px;
            font-weight: 700;
        }
    }

    .step-four-tabs {
        &__tab-list {
            display: flex;
            flex-direction: row;
        }

        &__tab {
            align-items: center;
            color: $date-block-selected-bg;
            cursor: pointer;
            display: flex;
            font-family: "Trade Gothic LT Std - Bold";
            font-size: 26px;
            font-weight: 700;
            justify-content: center;
            opacity: 0.5;
            padding: 10px 10px 5px;
            text-transform: uppercase;
            margin-bottom: 15px;

            &--selected {
                background-color: $date-block-selected-bg;
                color: $white;
                cursor: initial;
                opacity: 1;
                position: relative;

                &:after {
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                    border-top: 15px solid $date-block-selected-bg;
                    clear: both;
                    content: '';
                    height: 0;
                    position: absolute;
                    transform: translateX(-50%);
                    left: 50%;
                    top: 100%;
                    width: 0;
                }
            }
        }

        &__tab-tanel {
            display: flex;

            &--selected {
                border: 2px solid $date-block-selected-bg;
                padding: 20px;
            }
        }
    }
}