@import '../../constants/scss/variables.scss';

#{$root} {
    .step-five {
        &__no-items {
            color: $card-red-color;
            font-size: 18px;
            font-weight: 700;
            text-align: center;
        }

        &__card-attributes {
            width: 100%;
            padding: 0 35px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            height: 100%;

            & > div {
                width: 100%;
            }
        }
    }
}