@import '../../constants/scss/variables.scss';

#{$root} {
    .step-five {
        &__no-items {
            color: $card-red-color;
            font-size: 18px;
            font-weight: 700;
            text-align: center;
        }
    }
}