
@font-face {
  font-family: 'Serifa-Bold';
  src:
    url('./SerifaW01-65Bold.eot?#iefix') format('embedded-opentype'),
    url('./SerifaW01-65Bold.woff') format('woff'),
    url('./SerifaW01-65Bold.ttf') format('truetype'),
    url('./SerifaW01-65Bold.svg#SerifaW01-65Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
