@import '../../constants/scss/variables.scss';

#{$root} {
    .breakthrough-card {
        &__container {
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: center;
            width: 100%;

            @include breakpoint($mobile){
                flex-direction: column;
            }
        }

        &__image {
            margin-left: auto;

            @include breakpoint($mobile){
                margin-right: auto;
            }
        }

        &__column {
            align-items: center;
            display: flex;
            color: $subheader-text-color;
            text-transform: uppercase;
            flex-direction: column;
            height: 100%;
            justify-content: center;

            &--center {
                margin: auto;
            }

            &--core {
                font-family: $serifa-bold;
                font-size: 28px;
            }

            &--group {
                font-family: $serifa-roman;
                font-size: 23px;
            }

            &--training {
                font-family: $serifa-roman;
                font-size: 16px;
            }

            &--position {
                font-family: $serifa-roman;
                font-size: 18px;
            }

            &--specific {
                font-family: $serifa-roman;
                font-size: 19px;
            }

            &--coaching {
                font-family: $serifa-bold;
                font-size: 16px;
            }

            &--small-group {
                font-family: $serifa-roman;
                font-size: 11px;
            }

            &--skills {
                font-family: $serifa-light;
                font-size: 27px;
            }

            &--training {
                font-family: $serifa-bold;
                font-size: 16px;
            }

            &--lh-20 {
                line-height: 20px;
            }
        }
    }
}
