@import '../../constants/scss/variables.scss';

#{$root} {
    .email-modal {
        &__container {
            background: rgba(255, 255, 255, 0.5);
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__body {
            background: #0d3452;
            padding-top: 48px;
            padding-bottom: 32px;
            width: 60%;
        }

        &__header {
            display: block;
            color: #60baeb;
            font-size: 18px;
            text-align: center;
            text-transform: uppercase;
        }

        &__description {
            color: #355971;
            display: block;
            font-size: 14px;
            text-align: center;
            margin-bottom: 15px;
        }

        &__input-container {
            background: #184a69;
            border: 2px solid #3a7697;
            border-radius: 4px;
            color: #e7edf0;
            display: block;
            height: 30px;
            margin: 0 auto 20px;
            width: 250px;
        }

        &__input {
            display: block;
            font-size: 12px;
            height: 100%;
            text-align: center;
            width: 100%;

            &::placeholder {
                color: #e7edf0;
            }
        }

        &__error-block {
            font-size: 10px;
            display: block;
            text-align: center;
            padding: 2px 4px;

            &--error {
                color: #de3842;
            }
        }

        &__button-block {
            box-sizing: border-box;
            color: #e7edf0;
            font-size: 12px;
            height: 32px;
            margin: 0 auto;
            max-width: 168px;
        }

        &__button {
            background-color: #de3842;
            border: none;
            border-bottom: 1px solid #a70d18;
            border-right: 1px solid #a70d18;

            &:active {
                background-color: #a70d18;
                border: none;
                border-top: 1px solid #de3842;
                border-left: 1px solid #de3842;
            }
        }
    }
}