@import '../../constants/scss/variables.scss';

#{$root} {
    .core-card {
        &__container {
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: center;
            width: 100%;

            @include breakpoint($mobile){
                flex-direction: column;
            }
        }

        &__image {
            margin-left: auto;

            @include breakpoint($mobile){
                margin-right: auto;
            }
        }

        &__sessions {
            max-width: 88px;
            color: $subheader-text-color;
            font-family: "Serifa-Roman";
            font-size: 15px;
            font-weight: 400;
            text-transform: uppercase;
            margin: auto;

            @include breakpoint($mobile){
                max-width: 100%;
            }

            &--center {
                text-align: center;
            }
        }

        &__physical {
            max-width: 126px;
            color: $subheader-text-color;
            font-family: $serifa-bold;
            font-weight: 700;
            text-transform: uppercase;

            &--center {
                text-align: center;
            }
        }

        &__text {
            display: block;

            &--bold {
                font-family: $serifa-bold;
                font-weight: 700;
                text-transform: uppercase;
            }

            &--or {
                font-family: $serifa-roman;
                font-size: 13px;
                font-weight: 400;
            }

            &--16 {
                font-size: 16px;
            }

            &--15 {
                font-size: 15px;
            }
        }
    }
}