
/* @font-face {
  font-family: 'Trade-Gothic-Bold';
  src:
    url('./TradeGothicW01-Bold2.eot?#iefix') format('embedded-opentype'),
    url('./TradeGothicW01-Bold2.woff') format('woff'),
    url('./TradeGothicW01-Bold2.ttf') format('truetype'),
    url('./TradeGothicW01-Bold2.svg#TradeGothicW01-Bold2') format('svg');
  font-weight: normal;
  font-style: normal;
} */
