@import '../../constants/scss/variables.scss';

#{$root} {

  .step-zero {
    margin-bottom: 65px;
    .step-two__questions{
      width: 100%;
    }

    .no-data{
      margin-top: 50px;
      margin-bottom: 50px;
      .empty_box {
        height: 100%;
        display: flex;
        padding: 20px;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        border: 1px solid $card-light-blue-color;
        color: $card-light-blue-color;
        font-family: $proxima-nova;
        .text{
          text-transform: uppercase;
          &.danger{
            color: $sold-out;
          }
        }
      }
    }


    .card-body__head {
      padding-left: 14px;
    }

    .card-body__body {
      flex: 1 1 auto;
      padding: 20px;
    }

    .card-body__head--light-blue {
      background-color: $step-final-light-blue-colog;
    }

    & .card-content__row {
      flex-direction: row;
    }

    .sleepaway-container{
      display: flex;
      flex-direction: column;
      .content__sleepaway-label{
        margin-bottom: 20px;
        &:last-child{
          margin-bottom: 5px;
        }
      }
    }

    .content__age--block{
      display: flex;
      flex-wrap: wrap;
      .content__age{
        margin-bottom: 15px;
      }
    }

    .content__radio-container{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .radio-btn__container{
        margin-bottom: 20px;
        &:last-child{
          margin-bottom: 5px;
        }
      }
    }
  }
}


