@import '../../constants/scss/variables.scss';

#{$root} {
    .card {
        &__container {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
            width: 100%;

            &--opacity {
                opacity: 0.5;
            }
        }

        &__head {
            align-items: stretch;
            display: flex;
            flex-direction: row;
            width: 100%;

            &--min-height-30px {
                min-height: 30px;
            }
        }

        &__header {
            align-self: flex-end;
            font-family: "Trade-Gothic-Bold";
            font-weight: 700;
            text-transform: uppercase;
            margin-right: auto;
            margin-bottom: -0.25em;

            &--extra-small {
                font-size: 24px;
            }

            &--small {
                font-size: 28px;
            }

            &--large {
                font-size: 40px;
            }

            &--light-blue {
                color: $card-light-blue-color;
            }

            &--dark-blue {
                color: $card-dark-blue-color;
            }

            &--blue {
                color: $card-blue-color;
            }

            &--red {
                color: $card-red-color;
            }

            &--dark {
                color: $tab-row-bg;
            }
        }

        &__label {
            align-items: center;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            margin-left: auto;
            padding: 5px;
            width: auto;
        }
    }

    .card-label {
        &__header {
            margin: auto;
            padding: 0 5px;
            color: $tab-row-bg;
            font-family: "Trade-Gothic-Bold";
            font-weight: 700;
            text-transform: uppercase;

            &--small {
                font-size: 16px;
            }

            &--regular {
                font-size: 20px;
            }
        }

        &__via {
            display: flex;
            flex-direction: column;
            margin-left: auto;
        }

        &__text {
            color: $tab-row-bg;
            font-family: "Trade-Gothic-Bold";
            font-weight: 700;
            text-transform: uppercase;

            &--small {
                font-size: 7px;
                line-height: 7px;
            }

            &--regular {
                font-size: 14px;
                line-height: 14px;
            }

            &--medium {
                font-size: 20px;
                line-height: 14px;
            }

            &--serifa-roman {
                font-family: "Serifa-Roman";
            }

            &--serifa-bold {
                font-family: "Serifa-Bold";
            }
        }
    }

    .card-body {
        &__head {
            align-items: center;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            padding: 10px;

            &--light-blue {
                background-color: $card-light-blue-color;
            }

            &--dark-blue {
                background-color: $card-dark-blue-color;
            }

            &--blue {
                background-color: $card-blue-color;
            }

            &--red {
                background-color: $card-red-color;
            }

            &--dark {
                background-color: $tab-row-bg;
            }

            &--flex-end {
                align-items: flex-end;
            }
        }

        &__text {
            color: $white;
            font-family: "Trade-Gothic-Bold";
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
        }

        &__image {
            width: 30%;

            &-item {
                display: block;
                height: auto;
                width: 100%;
            }
        }

        &__body {
            background-color: $card-body-bg;
            display: flex;
            flex-direction: row;
        }

        &__content {
            align-items: center;
            box-sizing: border-box;
            display: flex;
            justify-content: center;

            &--width-100 {
                width: 100%;
            }

            &--width-70 {
                width: 70%;
            }
        }

        &__button {
            border: 1px solid $date-block-selected-bg;
            box-sizing: border-box;
            font-family: "Serifa-Bold";
            font-size: 14px;
            font-weight: 700;
            line-height: 21px;
            padding: 5px;
            text-transform: uppercase;

            &--regular {
                background-color: $white;
                color: $date-block-selected-bg;
            }

            &--selected {
                background-color: $date-block-selected-bg;
                color: $white;
            }
        }

        &__price {
            align-items: flex-end;
            display: flex;
            flex-direction: column;
        }

        &__price-description {
            color: $white;
            font-family: "Trade Gothic Bold";
            font-size: 11px;
            font-weight: 700;
            margin-top: -5px;
            text-transform: uppercase;
        }
    }

    .card-content {
        width: 100%;

        &__row {
            align-items: stretch;
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        &__col {
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        &__img {
            display: block;
            height: auto;
            width: 100%;
        }

        &__text {
            margin: 15px;
            color: $tab-row-bg;
            font-family: "Trade Gothic Bold";
            font-size: 13px;
        }
    }
}