@import '../../constants/scss/variables.scss';

#{$root} {
  @import 'react-datepicker/src/stylesheets/datepicker.scss';
  // .react-datepicker__time-container {
  //     & .react-datepicker__time {
  //         & .react-datepicker__time-box {
  //             & ul.react-datepicker__time-list {
  //                 & li.react-datepicker__time-list-item {
  //                     display: list-item;
  //                 }
  //             }
  //         }
  //     }
  // }

  .react-datepicker-popper{
    .react-datepicker{
      display: flex;
      flex-direction: row;
      border: none;
      box-shadow: 0 0 5px rgba(black, 0.2);
      border-radius: 0;
      &__triangle{
        border-bottom-color: $card-dark-blue-color !important;
      }
      &__header{
        background: $card-dark-blue-color;
        color: white;
        border-radius: 0;
      }
      &__current-month{
        color: white;
        font-family: $proxima-nova;
      }
      &__navigation{
        &--next{
          border-left-color: white;
          right: 70px;
        }
        &--previous{
          border-right-color: white;
          left: 0;
        }
      }
      &__day-name{
        font-family: $proxima-nova;
        color: white;
      }
      &__day{
        &--selected{
          border-radius: 0;
        }
      }
    }
    .react-datepicker-time {
      &__header{
        color: white;
        font-family: $proxima-nova;
      }
      &-list-item{
        &--selected{
          border-radius: 0;
          background-color: $card-dark-blue-color;
        }
      }
    }
  }

  .react-datepicker__time-list {
    display: flex;
    flex-direction: column;
  }

  .react-datepicker__navigation {
    box-sizing: border-box;
  }
}

