@import '../../constants/scss/variables.scss';

#{$root} {
    .tab-row {
        &__group-header {
            font-family: "Serifa-Bold";
        }

        &__secondary-group-header {
            font-family: "Trade-Gothic-Bold";
        }

        &__section {
            margin: 1px;
            width: 25%;

            &--center {
                text-align: center;
            }

            &--p15px0 {
                padding: 15px 0;
            }

            &--bg-white {
                background-color: $white;
            }

            &--selected {
                background-color: $tab-selected-bg;
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    transform: translateX(-50%);
                    left: 50%;
                    top: 100%;
                    width: 0;
                    height: 0;
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                    border-top: 15px solid $tab-selected-bg;
                    clear: both;
                }

                & .tab-row__header {
                    color: $white;
                }
            }

            &--bg-transparent {
                background-color: transparent;

                &:after {
                    display: none;
                }
            }

            &--disabled {
                position: relative;

                &:after {
                    background: $white;
                    bottom: 0;
                    content: '';
                    cursor: not-allowed;
                    height: 100%;
                    opacity: 0.5;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                }

                & .tab-row__section--locked {
                    background: $white url('../../assets/img/locked-padlock-dark.png') no-repeat center center;
                }
            }
        }

        &__wrapper {
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: center;
            width: 100%;
        }

        &__header {
            color: $tab-header-color;
            display: block;
            font-weight: bold;
            max-width: $tab-header-max-width;
            text-align: center;
            text-transform: uppercase;

            &--green-block {
                color: $tab-row-bg;
                font-size: 15px;
                font-family: "Serifa-Bold";
                margin: auto;
            }

            &--sold {
                color: #de5963;
                opacity: 0.5;
            }

            &--through {
                text-decoration: line-through;
            }

            &--small {
                line-height: 8px;
                font-size: 8px;
            }

            &--regular {
                font-size: 24px;
            }

            &--medium {
                font-size: 26px;
            }

            &--mw-initial {
                max-width: initial;
            }

            &--trade-gothic-bold {
                font-family: 'Trade-Gothic-Bold';
            }

            &--font-18 {
                font-size: 18px;
            }

            &--font-50 {
                font-size: 50px;
            }

            &--font-80 {
                font-size: 80px;
            }

            &--font-100 {
                font-size: 100px;
            }
        }

        &__tab-list {
            display: flex;
            width: 100%;
        }

        &__container {
            margin-bottom: 15px;
            min-height: $min-tab-row-height;

            &--disabled {
                opacity: 0.5;
            }
        }

        &__green-block {
            line-height: 12px;
            padding: 4px 2px;
        }

        &__separator {
            background-color: #d8e5eb;
            height: 1px;
            width: 110px;
        }
    }

    .tab-content {
        &__container {
            display: flex;
            flex-direction: row;
        }
    }

    .content {
        &__first-col {
            background-color: #f0f0f0;
            border: 1px solid #366e92;
            padding: 28px 24px;
            width: 65%;
        }

        &__second-col {
            background-color: $green-block-bg;
            border: 1px solid #366e92;
            border-left-color: transparent;
            padding: 43px 39px;
            max-width: 398px;
            width: 35%;
        }

        &__header {
            color: $tab-row-bg;
            font-family: "Trade-Gothic-Bold";
            display: block;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 10px;

            &--h2 {
                font-size: 28px;
            }

            &--h3 {
                font-size: 21px;
            }

            &--h4 {
                font-size: 15px;
                line-height: 16px;
            }
        }

        &__paragraph {
            color: $tab-row-bg;
            font-size: 15px;
            margin-bottom: 15px;
            font-family: "Trade-Gothic";
            line-height: 16px;
        }

        &__form-control {
            margin-bottom: 20px;
        }

        &__label {
            display: block;
            margin-bottom: 10px;
            position: relative;
            margin-bottom: 12px;
            font-size: 16px;
            font-weight: bold;
            user-select: none;
            width: 33%;

            &--disabled {
                text-decoration: line-through;
            }
        }

        &__age {
            &--block {
                display: block;

                &::after {
                    content: '';
                    clear: both;
                    display: table;
                }
            }

            display: block;
            float: left;
            width: 33%;
        }

        &__sleepaway-label {
            color: $tab-row-bg;
            font-family: "Trade-Gothic-Bold";
            font-size: 16px;
            font-weight: 700;

            &--disabled {
                text-decoration: line-through;
            }
        }

        &__radio-btn {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: #f0f0f0;
            border-radius: 50%;

            &:checked {
                background-color: $tab-header-color;

                &::after {
                    content: "\2713";
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 22px;
                }
            }

            &--font-16 {
                font-size: 16px!important;
            }
        }

        &__radio-container {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    }
}