@import '../../constants/scss/variables.scss';

#{$root} {
    .footer {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: flex-start;
        width: 100%;

        &__container {
            background-color: $green-block-bg;
            height: 71px;

            &--fixed {
                position: fixed;
                z-index: 100000;
                width: 100%;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }

        &__image {
            max-height: 36px;
            max-width: 89px;
            display: block;
            width: auto;
            height: 100%;
            padding: 15px 20px;
            box-sizing: content-box;

            &-container {
                align-items: center;
                display: flex;
                height: 71px;
                justify-content: center;
            }
        }

        &__price {
            font-weight: bold;

            &-container {
                color: $subheader-text-color;
                display: flex;
                flex-direction: column;
                font-family: $trade-gothic-bold;
                font-size: 36px;
                font-weight: 700;
                text-transform: uppercase;
            }

            &-total {
                font-size: 11px;
            }
        }

        &__text {
            margin: 0 auto;
            color: $subheader-text-color;
            font-family: $trade-gothic-bold;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            padding: 15px 20px;
        }

        &__btn-container {
            display: flex;
            flex-direction: row;
            margin: auto;
        }

        &__btn {
            align-items: center;
            background-color: $white;
            box-sizing: border-box;
            border: 1px solid #4481a3;
            color: #4481a3;
            font-family: "Serifa-Bold";
            font-size: 14px;
            font-weight: 700;
            display: flex;
            height: 38px;
            justify-content: center;
            text-transform: uppercase;
            line-height: 21px;
            margin: 0 5px;

            &--purchase {
                width: 307px;
            }

            &--save-camp {
                width: 142px;
            }

            &--share-camp {
                width: 142px;
            }
        }
    }
}
