@import './constants/scss/variables.scss';

#{$root} {
  all: initial;
  position: relative;

  * {
    all: unset;
  }

  div {
    display: block;
  }

  .upper-case {
    text-transform: uppercase;
  }
}
