@import './constants/scss/variables.scss';

#{$root} {
  all: initial;
  position: relative;

  * {
    all: unset;
  }

  div, p {
    display: block;
  }

  .upper-case {
    text-transform: uppercase;
  }

  .text-center {
    text-align: center;
  }

  .mr-0 {
    margin-right: 0!important;
  }

  .mb-0 {
    margin-bottom: 0;
  }

  .bold {
    font-weight: bold;
  }

  .white {
    color: #fff;
  }

  .p-1 {
    padding: 1rem;
  }
}
