@import '../../constants/scss/variables.scss';

#{$root} {
    .step-three {
        margin-bottom: 125px;

        & .card-label {
            padding: 8px 4px;

            @include breakpoint($mobile) {
                padding: 5px;
            }
        }

        & .card-body__content {
            justify-content: center;
        }
    }
}